<div class='col-sm-6 col-sm-4'>
	<div class="card">
		<div class="card-topper" style='background-image: url(<%= post.banner_image_url %>)'></div>
		<div class="card-block">
			<h4 class="card-title"><%= link_to post.title, post %></h4>
			<p class="published-date"> Published <%= post.published_date %> </p>
			<p class="card-text"><%= truncate(post.description, length: 130) %></p>
			<%= link_to 'Read', post_path(post), class: 'btn btn-outline-secondary' %>
		</div>
	</div>
</div>