<% provide(:page_title, @post.title) %>
<% provide(:blog_active, 'active') %>



<div class="row">
  <div class='col-md-10 offset-md-1 col-lg-8 offset-lf-2 text-xs-center'>
  	<div style='background-image: url(<%= @post.banner_image_url %>)'>
  		<h1><%= @post.title %></h1>
  	</div>
  	<p> Published <%= @post.published_date %></p>
  	<%= @post.body.html_safe %>
  </div>
</div>
