<%= form_with(model: post, url: url, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label :banner_image_url %>
        <%= form.text_field :banner_image_url %>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body %>
      </div>
    </div>
  </div>

  

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
