<% provide(:page_title, "Edit #{@post.title}") %>
<% provide(:author, 'active') %>


<h1>Editing Post!</h1>

<%= render 'form', post: @post, url: authors_post_url(@post) %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', authors_posts_path %>
