<% provide(:page_title, 'All Posts') %>
<% provide(:author, 'active') %>


<div class="row">
	<div>
		<%= link_to 'New Post', new_authors_post_path, class: 'btn btn-primary btn-lg'%>
	</div>
	<br>
	<table class="table table-striped">
		<tr>
			<th colspan="4">Title</th>
		</tr>
	
    	<%= render @posts %>
	</table>   
  

</div>