<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>

<div>
	<%= link_to 'Edit', edit_authors_post_path(@post), class: 'btn btn-sm btn-warning'%>
	<%= link_to 'Remove', authors_post_path(@post), method: :delete, data: {confirm: 'You sure mate?' }, class: 'btn btn-sm btn-danger'%>
</div>

<div class="row">
  <div class='col-md-10 offset-md-1 col-lg-8 offset-lf-2 text-xs-center'>
  	<div style='background-image: url(<%= @post.banner_image_url %>)'>
  		<h1><%= @post.title %></h1>
  	</div>
  	<p> Published <%= @post.published_date %></p>
  	<%= @post.body.html_safe %>
  </div>
</div>
